@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter Variable", sans-serif;
  font-family: "Poppins", sans-serif;
}
.title {
  font-family: "Chicle", system-ui;
}
.gradient {
  background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}
.hero {
  background-size: 20px 20px;
  background-image: linear-gradient(
      to right,
      rgb(227, 227, 227) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(210, 210, 210) 1px, transparent 1px);
}

.bg {
  opacity: 1;
  background-image: linear-gradient(#9b9b9b14 1px, transparent 1px),
    linear-gradient(to right, #56565632 1px, #e5e5f700 1px);
  background-size: 20px 20px;
}
