@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter Variable", sans-serif;
  font-family: "Poppins", sans-serif;
}
.title {
  font-family: "Chicle", system-ui;
}

.hero {
  background-size: 20px 20px;
  background-image: linear-gradient(
      to right,
      rgb(227, 227, 227) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(210, 210, 210) 1px, transparent 1px);
}
